In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
Kansas_City_df = pd.read_excel('employees.xlsx', sheet_name='Kansas City')

In [ ]:
print(Kansas_City_df.head(35))

    Year  retail_employees
0   1993              43.6
1   1994              44.3
2   1995              45.0
3   1996              45.6
4   1997              46.0
5   1998              47.9
6   1999              48.0
7   2000              47.9
8   2001              48.0
9   2002              47.2
10  2003              47.4
11  2004              48.4
12  2005              47.9
13  2006              46.9
14  2007              47.0
15  2008              46.3
16  2009              44.3
17  2010              44.1
18  2011              44.7
19  2012              45.5
20  2013              46.4
21  2014              47.7
22  2015              48.9
23  2016              49.8
24  2017              49.4
25  2018              48.9
26  2019              47.7
27  2020              45.1
28  2021              46.4
29  2022              47.2
30  2023              48.0

In [ ]:
business_df = pd.read_excel('business.xlsx')

In [ ]:
filtered_business_df = pd.read_excel('business.xlsx')

In [ ]:
print(business_df.head())

   Year                           city1                          city2  \
0  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
1  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
2  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
3  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
4  2021                 Albuquerque, NM                    Phoenix, AZ

   passengers    fare
0         180   81.43
1          19  208.93
2         204  184.56
3         264  182.64
4         398  177.11

In [ ]:
filtered_business_df = business_df[business_df['city1'].str.contains('Kansas City') | business_df['city2'].str.contains('Bay City') ]

In [ ]:
print(filtered_business_df.head())

      Year            city1                                  city2  \
1856  2021  Kansas City, MO                            Phoenix, AZ
1857  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1858  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1859  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1860  2021  Kansas City, MO  New York City, NY (Metropolitan Area)

      passengers    fare
1856         592  219.06
1857         317  209.16
1858         261  209.80
1859         147  234.51
1860         151  251.06

In [ ]:
print(filtered_business_df.head(50))

      Year            city1                                  city2  \
1856  2021  Kansas City, MO                            Phoenix, AZ
1857  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1858  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1859  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
1860  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1861  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1862  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1863  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1864  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1865  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
1866  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
1867  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
1868  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
1869  2021  Kansas City, MO          Miami, FL (Metropolitan Area)
1870  2021  Kansas City, MO          Miami, FL (Metropolitan Area)
1871  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
1872  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
1873  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
1874  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
1875  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
1876  2021  Kansas City, MO          Tampa, FL (Metropolitan Area)
1877  2021  Kansas City, MO          Tampa, FL (Metropolitan Area)
3828  2021  Kansas City, MO                            Phoenix, AZ
3829  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
3830  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
3831  2021  Kansas City, MO     Washington, DC (Metropolitan Area)
3832  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
3833  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
3834  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
3835  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
3836  2021  Kansas City, MO  New York City, NY (Metropolitan Area)
3837  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
3838  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
3839  2021  Kansas City, MO  San Francisco, CA (Metropolitan Area)
3840  2021  Kansas City, MO          Miami, FL (Metropolitan Area)
3841  2021  Kansas City, MO          Miami, FL (Metropolitan Area)
3842  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
3843  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
3844  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
3845  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
3846  2021  Kansas City, MO    Los Angeles, CA (Metropolitan Area)
3847  2021  Kansas City, MO          Tampa, FL (Metropolitan Area)
3848  2021  Kansas City, MO          Tampa, FL (Metropolitan Area)
5752  2022  Kansas City, MO                            Phoenix, AZ
5753  2022  Kansas City, MO     Washington, DC (Metropolitan Area)
5754  2022  Kansas City, MO     Washington, DC (Metropolitan Area)
5755  2022  Kansas City, MO     Washington, DC (Metropolitan Area)
5756  2022  Kansas City, MO  New York City, NY (Metropolitan Area)
5757  2022  Kansas City, MO  New York City, NY (Metropolitan Area)
5758  2022  Kansas City, MO  New York City, NY (Metropolitan Area)

      passengers    fare
1856         592  219.06
1857         317  209.16
1858         261  209.80
1859         147  234.51
1860         151  251.06
1861           7  257.43
1862          18  265.09
1863          19  270.87
1864         442  243.55
1865           1  270.80
1866         198  245.71
1867         152  259.93
1868          85  256.81
1869         263  167.41
1870         226  171.25
1871          46  220.16
1872         667  180.75
1873          27  193.65
1874          79  248.34
1875         213  193.53
1876          43   80.82
1877         378  181.96
3828         785  236.03
3829         273  198.72
3830         399  189.24
3831         154  202.58
3832         267  211.80
3833          10  226.02
3834          11  198.96
3835          17  247.78
3836         600  209.10
3837         189  271.21
3838         148  272.52
3839          78  288.20
3840         245  195.14
3841         289  188.75
3842          43  267.96
3843         709  202.59
3844          28  205.99
3845          72  266.95
3846         131  229.64
3847          11   95.04
3848         411  191.64
5752         795  265.04
5753         168  211.64
5754         304  194.53
5755          68  233.82
5756         199  197.82
5757           6  196.01
5758           8  175.83

In [ ]:
print(filtered_business_df.shape)

(3233, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(3233, 2)

In [ ]:
filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

<ipython-input-34-02b285071e04>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

In [ ]:
print(filtered_business_df.shape)

(3212, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(3212, 2)

In [ ]:
summed_dropped_filtered_business_df = dropped_filtered_business_df.groupby('Year')['passengers'].sum().reset_index()

In [ ]:
print(summed_dropped_filtered_business_df)

    Year  passengers
0   1993       13217
1   1994        3347
2   1996       29639
3   1997       43311
4   1998       18502
5   1999       24499
6   2000       33308
7   2001       46040
8   2002       42556
9   2003       37717
10  2004       33047
11  2005       46558
12  2006       48882
13  2007       33686
14  2008       28861
15  2009       33630
16  2010       33026
17  2011       21617
18  2012       21121
19  2013       20707
20  2014       20983
21  2015       22303
22  2016       23674
23  2017       24099
24  2018       24373
25  2019       24167
26  2020        8682
27  2021       15020
28  2022       21222
29  2023       23354

In [ ]:
merged_KC_df = pd.merge(Kansas_City_df, summed_dropped_filtered_business_df, on='Year', how='inner')

In [ ]:
print(merged_KC_df)

    Year  retail_employees  passengers
0   1993              43.6       13217
1   1994              44.3        3347
2   1996              45.6       29639
3   1997              46.0       43311
4   1998              47.9       18502
5   1999              48.0       24499
6   2000              47.9       33308
7   2001              48.0       46040
8   2002              47.2       42556
9   2003              47.4       37717
10  2004              48.4       33047
11  2005              47.9       46558
12  2006              46.9       48882
13  2007              47.0       33686
14  2008              46.3       28861
15  2009              44.3       33630
16  2010              44.1       33026
17  2011              44.7       21617
18  2012              45.5       21121
19  2013              46.4       20707
20  2014              47.7       20983
21  2015              48.9       22303
22  2016              49.8       23674
23  2017              49.4       24099
24  2018              48.9       24373
25  2019              47.7       24167
26  2020              45.1        8682
27  2021              46.4       15020
28  2022              47.2       21222
29  2023              48.0       23354

In [ ]:
#Make File!
merged_KC_df.to_excel('KC_final.xlsx', index = False, sheet_name = "Processed_data")