In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
Baltimore_df = pd.read_excel('employees.xlsx', sheet_name='Baltimore')

In [ ]:
print(Baltimore_df.head(35))

    Year  retail_employees
0   1993              30.2
1   1994              30.7
2   1995              30.0
3   1996              28.7
4   1997              28.4
5   1998              28.0
6   1999              27.4
7   2000              25.9
8   2001              22.3
9   2002              20.5
10  2003              19.5
11  2004              20.0
12  2005              19.2
13  2006              18.4
14  2007              18.1
15  2008              17.3
16  2009              16.1
17  2010              15.6
18  2011              16.1
19  2012              16.4
20  2013              16.6
21  2014              16.9
22  2015              16.6
23  2016              16.3
24  2017              15.8
25  2018              15.1
26  2019              14.6
27  2020              13.2
28  2021              13.5
29  2022              13.4
30  2023              13.5

In [ ]:
business_df = pd.read_excel('business.xlsx')

In [ ]:
filtered_business_df = pd.read_excel('business.xlsx')

In [ ]:
print(business_df.head())

   Year                           city1                          city2  \
0  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
1  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
2  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
3  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
4  2021                 Albuquerque, NM                    Phoenix, AZ

   passengers    fare
0         180   81.43
1          19  208.93
2         204  184.56
3         264  182.64
4         398  177.11

In [ ]:
filtered_business_df = business_df[business_df['city1'].str.contains('Washington') | business_df['city2'].str.contains('Washington') ]

In [ ]:
print(filtered_business_df.head())

    Year                 city1                               city2  \
8   2021       Albuquerque, NM  Washington, DC (Metropolitan Area)
9   2021       Albuquerque, NM  Washington, DC (Metropolitan Area)
10  2021       Albuquerque, NM  Washington, DC (Metropolitan Area)
36  2021  Colorado Springs, CO  Washington, DC (Metropolitan Area)
37  2021  Colorado Springs, CO  Washington, DC (Metropolitan Area)

    passengers    fare
8          159  255.89
9          151  291.16
10          59  343.58
36          65  251.59
37          84  278.14

In [ ]:
print(filtered_business_df.head(50))

     Year                              city1  \
8    2021                    Albuquerque, NM
9    2021                    Albuquerque, NM
10   2021                    Albuquerque, NM
36   2021               Colorado Springs, CO
37   2021               Colorado Springs, CO
38   2021               Colorado Springs, CO
60   2021              Dallas/Fort Worth, TX
61   2021              Dallas/Fort Worth, TX
62   2021              Dallas/Fort Worth, TX
63   2021              Dallas/Fort Worth, TX
64   2021              Dallas/Fort Worth, TX
65   2021              Dallas/Fort Worth, TX
191  2021                     Huntsville, AL
192  2021                     Huntsville, AL
193  2021                     Huntsville, AL
194  2021                         Albany, NY
195  2021                         Albany, NY
196  2021                         Albany, NY
211  2021                         Denver, CO
212  2021                         Denver, CO
213  2021                         Denver, CO
243  2021    Atlanta, GA (Metropolitan Area)
244  2021    Atlanta, GA (Metropolitan Area)
245  2021    Atlanta, GA (Metropolitan Area)
276  2021                         Austin, TX
277  2021                         Austin, TX
278  2021                         Austin, TX
307  2021                         Tucson, AZ
308  2021                         Tucson, AZ
309  2021                         Tucson, AZ
313  2021                        Phoenix, AZ
314  2021                        Phoenix, AZ
315  2021                        Phoenix, AZ
335  2021                       Hartford, CT
336  2021                       Hartford, CT
337  2021                       Hartford, CT
349  2021                        Seattle, WA
350  2021                        Seattle, WA
351  2021                        Seattle, WA
355  2021                     Birmingham, AL
356  2021                     Birmingham, AL
357  2021                     Birmingham, AL
377  2021                        El Paso, TX
378  2021                        El Paso, TX
379  2021                        El Paso, TX
403  2021  Cleveland, OH (Metropolitan Area)
404  2021  Cleveland, OH (Metropolitan Area)
405  2021  Cleveland, OH (Metropolitan Area)
406  2021  Cleveland, OH (Metropolitan Area)
407  2021  Cleveland, OH (Metropolitan Area)

                                  city2  passengers    fare
8    Washington, DC (Metropolitan Area)         159  255.89
9    Washington, DC (Metropolitan Area)         151  291.16
10   Washington, DC (Metropolitan Area)          59  343.58
36   Washington, DC (Metropolitan Area)          65  251.59
37   Washington, DC (Metropolitan Area)          84  278.14
38   Washington, DC (Metropolitan Area)          63  301.82
60   Washington, DC (Metropolitan Area)         649  176.22
61   Washington, DC (Metropolitan Area)         278  202.77
62   Washington, DC (Metropolitan Area)          17  226.73
63   Washington, DC (Metropolitan Area)         647  181.97
64   Washington, DC (Metropolitan Area)         722  252.24
65   Washington, DC (Metropolitan Area)         352  248.61
191  Washington, DC (Metropolitan Area)          37  270.79
192  Washington, DC (Metropolitan Area)         129  274.03
193  Washington, DC (Metropolitan Area)          76  244.29
194  Washington, DC (Metropolitan Area)         129  173.61
195  Washington, DC (Metropolitan Area)          83  210.15
196  Washington, DC (Metropolitan Area)          46  216.55
211  Washington, DC (Metropolitan Area)        1173  201.47
212  Washington, DC (Metropolitan Area)         759  174.94
213  Washington, DC (Metropolitan Area)        1091  234.96
243  Washington, DC (Metropolitan Area)        1640  150.03
244  Washington, DC (Metropolitan Area)        1464  163.76
245  Washington, DC (Metropolitan Area)         683  153.95
276  Washington, DC (Metropolitan Area)         408  213.39
277  Washington, DC (Metropolitan Area)         319  228.91
278  Washington, DC (Metropolitan Area)         356  232.01
307  Washington, DC (Metropolitan Area)          82  281.12
308  Washington, DC (Metropolitan Area)          92  294.24
309  Washington, DC (Metropolitan Area)          46  301.84
313  Washington, DC (Metropolitan Area)         530  251.82
314  Washington, DC (Metropolitan Area)         487  271.57
315  Washington, DC (Metropolitan Area)         283  275.61
335  Washington, DC (Metropolitan Area)         153  167.29
336  Washington, DC (Metropolitan Area)         160  184.39
337  Washington, DC (Metropolitan Area)         130  173.56
349  Washington, DC (Metropolitan Area)         521  258.97
350  Washington, DC (Metropolitan Area)         564  260.19
351  Washington, DC (Metropolitan Area)         782  252.70
355  Washington, DC (Metropolitan Area)          91  194.02
356  Washington, DC (Metropolitan Area)         130  231.66
357  Washington, DC (Metropolitan Area)          24  255.77
377  Washington, DC (Metropolitan Area)          77  296.52
378  Washington, DC (Metropolitan Area)          98  287.29
379  Washington, DC (Metropolitan Area)          37  343.64
403  Washington, DC (Metropolitan Area)          19  134.90
404  Washington, DC (Metropolitan Area)          14  136.48
405  Washington, DC (Metropolitan Area)         186  140.18
406  Washington, DC (Metropolitan Area)         118  155.64
407  Washington, DC (Metropolitan Area)         123  168.55

In [ ]:
print(filtered_business_df.shape)

(32015, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(32015, 2)

In [ ]:
filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

<ipython-input-71-02b285071e04>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

In [ ]:
print(filtered_business_df.shape)

(31773, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(31773, 2)

In [ ]:
summed_dropped_filtered_business_df = dropped_filtered_business_df.groupby('Year')['passengers'].sum().reset_index()

In [ ]:
print(summed_dropped_filtered_business_df)

    Year  passengers
0   1993      196988
1   1994       46556
2   1996      239359
3   1997      267300
4   1998      283605
5   1999      309042
6   2000      328551
7   2001      302612
8   2002      289849
9   2003      307984
10  2004      335988
11  2005      382703
12  2006      370269
13  2007      373060
14  2008      355353
15  2009      350414
16  2010      357224
17  2011      353929
18  2012      351064
19  2013      350511
20  2014      354388
21  2015      375380
22  2016      386097
23  2017      399743
24  2018      400023
25  2019      402666
26  2020      126639
27  2021      227582
28  2022      341482
29  2023      379895

In [ ]:
merged_PC_df = pd.merge(Baltimore_df, summed_dropped_filtered_business_df, on='Year', how='inner')

In [ ]:
#Make File!
merged_PC_df.to_excel('B_final.xlsx', index = False, sheet_name = "Processed_data")