In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
Oklahoma_City_df = pd.read_excel('employees.xlsx', sheet_name='Oklahoma City')

In [ ]:
print(Oklahoma_City_df.head(35))

    Year  retail_employees
0   1993              52.1
1   1994              54.2
2   1995              55.7
3   1996              57.2
4   1997              57.9
5   1998              58.7
6   1999              60.7
7   2000              62.6
8   2001              61.6
9   2002              61.5
10  2003              60.6
11  2004              60.4
12  2005              61.4
13  2006              61.5
14  2007              62.0
15  2008              62.3
16  2009              60.2
17  2010              60.1
18  2011              61.2
19  2012              62.4
20  2013              64.2
21  2014              66.0
22  2015              67.7
23  2016              68.2
24  2017              66.7
25  2018              66.2
26  2019              65.9
27  2020              65.6
28  2021              68.4
29  2022              70.1
30  2023              70.7

In [ ]:
business_df = pd.read_excel('business.xlsx')

In [ ]:
filtered_business_df = pd.read_excel('business.xlsx')

In [ ]:
print(business_df.head())

   Year                           city1                          city2  \
0  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
1  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
2  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
3  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
4  2021                 Albuquerque, NM                    Phoenix, AZ

   passengers    fare
0         180   81.43
1          19  208.93
2         204  184.56
3         264  182.64
4         398  177.11

In [ ]:
filtered_business_df = business_df[business_df['city1'].str.contains('Oklahoma City') | business_df['city2'].str.contains('Iowa City') ]

In [ ]:
print(filtered_business_df.head())

      Year              city1                               city2  passengers  \
1963  2021  Oklahoma City, OK                         Phoenix, AZ         260
1964  2021  Oklahoma City, OK  Washington, DC (Metropolitan Area)          79
1965  2021  Oklahoma City, OK  Washington, DC (Metropolitan Area)         176
1966  2021  Oklahoma City, OK  Washington, DC (Metropolitan Area)          39
3926  2021  Oklahoma City, OK                         Phoenix, AZ         341

        fare
1963  200.12
1964  247.64
1965  225.31
1966  246.53
3926  207.82

In [ ]:
print(filtered_business_df.head(50))

       Year              city1                                  city2  \
1963   2021  Oklahoma City, OK                            Phoenix, AZ
1964   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
1965   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
1966   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
3926   2021  Oklahoma City, OK                            Phoenix, AZ
3927   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
3928   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
3929   2021  Oklahoma City, OK     Washington, DC (Metropolitan Area)
3930   2021  Oklahoma City, OK          Tampa, FL (Metropolitan Area)
5846   2022  Oklahoma City, OK                            Phoenix, AZ
5847   2022  Oklahoma City, OK     Washington, DC (Metropolitan Area)
5848   2022  Oklahoma City, OK     Washington, DC (Metropolitan Area)
5849   2022  Oklahoma City, OK     Washington, DC (Metropolitan Area)
5944   2005  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
6118   2004  Oklahoma City, OK     Washington, DC (Metropolitan Area)
6269   2003  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
6285   1996  Oklahoma City, OK     Washington, DC (Metropolitan Area)
6676   2003  Oklahoma City, OK     Washington, DC (Metropolitan Area)
6689   1997  Oklahoma City, OK     Washington, DC (Metropolitan Area)
6989   2008  Oklahoma City, OK     Washington, DC (Metropolitan Area)
7358   2007  Oklahoma City, OK     Washington, DC (Metropolitan Area)
7924   1993  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
9336   2005  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
9440   2008  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
9728   2009  Oklahoma City, OK     Washington, DC (Metropolitan Area)
10394  2010  Oklahoma City, OK                            Phoenix, AZ
11117  1993  Oklahoma City, OK     Washington, DC (Metropolitan Area)
11244  2009  Oklahoma City, OK     Washington, DC (Metropolitan Area)
11325  2003  Oklahoma City, OK     Washington, DC (Metropolitan Area)
11359  2008  Oklahoma City, OK     Washington, DC (Metropolitan Area)
11424  2004  Oklahoma City, OK     Washington, DC (Metropolitan Area)
12793  2005  Oklahoma City, OK     Washington, DC (Metropolitan Area)
13322  2001  Oklahoma City, OK     Washington, DC (Metropolitan Area)
13662  1997  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
13668  2013  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
14635  2003  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
14949  2014  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
15172  2013  Oklahoma City, OK     Washington, DC (Metropolitan Area)
15852  1993  Oklahoma City, OK     Washington, DC (Metropolitan Area)
16152  2014  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
16244  2001  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
16533  1993  Oklahoma City, OK     Washington, DC (Metropolitan Area)
18153  2002  Oklahoma City, OK     Washington, DC (Metropolitan Area)
18626  2001  Oklahoma City, OK     Washington, DC (Metropolitan Area)
18972  1998  Oklahoma City, OK     Washington, DC (Metropolitan Area)
19122  2014  Oklahoma City, OK     Washington, DC (Metropolitan Area)
19338  1993  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
19359  1998  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
19387  2001  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)
19456  1997  Oklahoma City, OK  San Francisco, CA (Metropolitan Area)

       passengers    fare
1963          260  200.12
1964           79  247.64
1965          176  225.31
1966           39  246.53
3926          341  207.82
3927           75  234.62
3928          214  209.54
3929           46  257.46
3930          184  153.62
5846          283  228.17
5847           46  251.69
5848          160  216.61
5849           24  253.54
5944           80  182.93
6118          155  204.93
6269           44  200.94
6285            0  169.50
6676           45  229.55
6689          184  156.60
6989           71  292.15
7358          131  210.04
7924           96  190.73
9336           57  201.30
9440          115  183.06
9728           62  292.66
10394         246  211.23
11117           5  198.19
11244         267  177.35
11325         131  199.76
11359         284  173.28
11424          57  226.79
12793          49  254.45
13322          37  308.46
13662          43  223.48
13668          48  299.81
14635          58  171.48
14949          32  277.33
15172         186  255.13
15852           4  238.65
16152          41  308.43
16244          54  207.95
16533          43  234.60
18153         119  194.23
18626         264  149.37
18972          31  284.31
19122         185  240.94
19338         100  170.73
19359         138  160.29
19387          74  147.82
19456          50  184.95

In [ ]:
print(filtered_business_df.shape)

(727, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(727, 2)

In [ ]:
filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

<ipython-input-49-02b285071e04>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

In [ ]:
print(filtered_business_df.shape)

(723, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(723, 2)

In [ ]:
summed_dropped_filtered_business_df = dropped_filtered_business_df.groupby('Year')['passengers'].sum().reset_index()

In [ ]:
print(summed_dropped_filtered_business_df)

    Year  passengers
0   1993        1626
1   1994         374
2   1996        2634
3   1997        2276
4   1998        2467
5   1999        2546
6   2000        2376
7   2001        2383
8   2002        2033
9   2003        2148
10  2004        2162
11  2005        2250
12  2006        2342
13  2007        2317
14  2008        3704
15  2009        3397
16  2010        3129
17  2011        3179
18  2012        3237
19  2013        3124
20  2014        3434
21  2015        3361
22  2016        3227
23  2017        2893
24  2018        3714
25  2019        3872
26  2020        1502
27  2021        2257
28  2022        2635
29  2023        2968

In [ ]:
merged_OC_df = pd.merge(Oklahoma_City_df, summed_dropped_filtered_business_df, on='Year', how='inner')

In [ ]:
print(merged_IC_df)

    Year  retail_employees  passengers
0   1993              52.1        1626
1   1994              54.2         374
2   1996              57.2        2634
3   1997              57.9        2276
4   1998              58.7        2467
5   1999              60.7        2546
6   2000              62.6        2376
7   2001              61.6        2383
8   2002              61.5        2033
9   2003              60.6        2148
10  2004              60.4        2162
11  2005              61.4        2250
12  2006              61.5        2342
13  2007              62.0        2317
14  2008              62.3        3704
15  2009              60.2        3397
16  2010              60.1        3129
17  2011              61.2        3179
18  2012              62.4        3237
19  2013              64.2        3124
20  2014              66.0        3434
21  2015              67.7        3361
22  2016              68.2        3227
23  2017              66.7        2893
24  2018              66.2        3714
25  2019              65.9        3872
26  2020              65.6        1502
27  2021              68.4        2257
28  2022              70.1        2635
29  2023              70.7        2968

In [ ]:
#Make File!
merged_OC_df.to_excel('OC_final.xlsx', index = False, sheet_name = "Processed_data")