In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
San_Francisco_df = pd.read_excel('employees.xlsx', sheet_name='San Francisco')

In [ ]:
print(San_Francisco_df.head(35))

    Year  retail_employees
0   1993             189.8
1   1994             187.5
2   1995             190.2
3   1996             193.6
4   1997             199.7
5   1998             203.1
6   1999             209.2
7   2000             214.8
8   2001             215.2
9   2002             209.3
10  2003             205.1
11  2004             203.7
12  2005             205.7
13  2006             206.8
14  2007             208.3
15  2008             203.9
16  2009             190.6
17  2010             187.6
18  2011             188.8
19  2012             193.8
20  2013             198.9
21  2014             203.8
22  2015             207.9
23  2016             209.8
24  2017             211.1
25  2018             210.8
26  2019             205.9
27  2020             183.1
28  2021             185.6
29  2022             186.8
30  2023             183.7

In [ ]:
business_df = pd.read_excel('business.xlsx')

In [ ]:
filtered_business_df = pd.read_excel('business.xlsx')

In [ ]:
print(business_df.head())

   Year                           city1                          city2  \
0  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
1  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
2  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
3  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
4  2021                 Albuquerque, NM                    Phoenix, AZ

   passengers    fare
0         180   81.43
1          19  208.93
2         204  184.56
3         264  182.64
4         398  177.11

In [ ]:
filtered_business_df = business_df[business_df['city1'].str.contains('San Francisco') | business_df['city2'].str.contains('San Francisco') ]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print(filtered_business_df.head())

     Year                  city1                                  city2  \
21   2021        Albuquerque, NM  San Francisco, CA (Metropolitan Area)
22   2021        Albuquerque, NM  San Francisco, CA (Metropolitan Area)
23   2021        Albuquerque, NM  San Francisco, CA (Metropolitan Area)
115  2021  Dallas/Fort Worth, TX  San Francisco, CA (Metropolitan Area)
116  2021  Dallas/Fort Worth, TX  San Francisco, CA (Metropolitan Area)

     passengers    fare
21          216  194.36
22          188  246.07
23           61  209.22
115         344  187.84
116         162  206.97

In [ ]:
print(filtered_business_df.head(50))

     Year                              city1  \
21   2021                    Albuquerque, NM
22   2021                    Albuquerque, NM
23   2021                    Albuquerque, NM
115  2021              Dallas/Fort Worth, TX
116  2021              Dallas/Fort Worth, TX
117  2021              Dallas/Fort Worth, TX
118  2021              Dallas/Fort Worth, TX
119  2021              Dallas/Fort Worth, TX
120  2021              Dallas/Fort Worth, TX
186  2021                     Pittsburgh, PA
187  2021                     Pittsburgh, PA
188  2021                     Pittsburgh, PA
222  2021                         Denver, CO
223  2021                         Denver, CO
224  2021                         Denver, CO
257  2021    Atlanta, GA (Metropolitan Area)
258  2021    Atlanta, GA (Metropolitan Area)
259  2021    Atlanta, GA (Metropolitan Area)
287  2021                         Austin, TX
288  2021                         Austin, TX
289  2021                         Austin, TX
320  2021                        Phoenix, AZ
321  2021                        Phoenix, AZ
322  2021                        Phoenix, AZ
323  2021                        Phoenix, AZ
338  2021                       Hartford, CT
339  2021                       Hartford, CT
340  2021                       Hartford, CT
434  2021  Cleveland, OH (Metropolitan Area)
435  2021  Cleveland, OH (Metropolitan Area)
436  2021  Cleveland, OH (Metropolitan Area)
437  2021  Cleveland, OH (Metropolitan Area)
438  2021  Cleveland, OH (Metropolitan Area)
439  2021  Cleveland, OH (Metropolitan Area)
473  2021                      Nashville, TN
474  2021                      Nashville, TN
475  2021                      Nashville, TN
488  2021                          Boise, ID
489  2021                          Boise, ID
490  2021                          Boise, ID
593  2021     Boston, MA (Metropolitan Area)
594  2021     Boston, MA (Metropolitan Area)
595  2021     Boston, MA (Metropolitan Area)
596  2021     Boston, MA (Metropolitan Area)
597  2021     Boston, MA (Metropolitan Area)
598  2021     Boston, MA (Metropolitan Area)
599  2021     Boston, MA (Metropolitan Area)
600  2021     Boston, MA (Metropolitan Area)
601  2021     Boston, MA (Metropolitan Area)
716  2021                        Bozeman, MT

                                     city2  passengers    fare
21   San Francisco, CA (Metropolitan Area)         216  194.36
22   San Francisco, CA (Metropolitan Area)         188  246.07
23   San Francisco, CA (Metropolitan Area)          61  209.22
115  San Francisco, CA (Metropolitan Area)         344  187.84
116  San Francisco, CA (Metropolitan Area)         162  206.97
117  San Francisco, CA (Metropolitan Area)         246  204.27
118  San Francisco, CA (Metropolitan Area)          40  157.63
119  San Francisco, CA (Metropolitan Area)        1052  229.36
120  San Francisco, CA (Metropolitan Area)         219  267.73
186  San Francisco, CA (Metropolitan Area)          45  297.78
187  San Francisco, CA (Metropolitan Area)         230  361.78
188  San Francisco, CA (Metropolitan Area)          70  321.69
222  San Francisco, CA (Metropolitan Area)         787  153.57
223  San Francisco, CA (Metropolitan Area)        1447  186.15
224  San Francisco, CA (Metropolitan Area)         665  205.14
257  San Francisco, CA (Metropolitan Area)         213  213.36
258  San Francisco, CA (Metropolitan Area)        1111  311.20
259  San Francisco, CA (Metropolitan Area)         177  299.63
287  San Francisco, CA (Metropolitan Area)         217  194.76
288  San Francisco, CA (Metropolitan Area)         822  214.79
289  San Francisco, CA (Metropolitan Area)         500  199.64
320  San Francisco, CA (Metropolitan Area)          10   87.30
321  San Francisco, CA (Metropolitan Area)         768  130.19
322  San Francisco, CA (Metropolitan Area)        1026  135.50
323  San Francisco, CA (Metropolitan Area)         670  167.12
338  San Francisco, CA (Metropolitan Area)          21  285.98
339  San Francisco, CA (Metropolitan Area)         272  293.61
340  San Francisco, CA (Metropolitan Area)          30  354.91
434  San Francisco, CA (Metropolitan Area)           0   80.00
435  San Francisco, CA (Metropolitan Area)           7  382.16
436  San Francisco, CA (Metropolitan Area)           0  266.50
437  San Francisco, CA (Metropolitan Area)          38  265.05
438  San Francisco, CA (Metropolitan Area)         307  355.52
439  San Francisco, CA (Metropolitan Area)          42  313.89
473  San Francisco, CA (Metropolitan Area)         220  255.51
474  San Francisco, CA (Metropolitan Area)         261  295.86
475  San Francisco, CA (Metropolitan Area)         192  239.09
488  San Francisco, CA (Metropolitan Area)         221  123.69
489  San Francisco, CA (Metropolitan Area)         249  132.77
490  San Francisco, CA (Metropolitan Area)         175  140.22
593  San Francisco, CA (Metropolitan Area)          51  316.65
594  San Francisco, CA (Metropolitan Area)        2355  397.02
595  San Francisco, CA (Metropolitan Area)         293  308.50
596  San Francisco, CA (Metropolitan Area)           8  326.17
597  San Francisco, CA (Metropolitan Area)          10  405.26
598  San Francisco, CA (Metropolitan Area)           5  393.34
599  San Francisco, CA (Metropolitan Area)          12  342.96
600  San Francisco, CA (Metropolitan Area)          57  392.13
601  San Francisco, CA (Metropolitan Area)           8  341.45
716  San Francisco, CA (Metropolitan Area)          34  204.75

In [ ]:
print(filtered_business_df.shape)

(25441, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(25441, 2)

In [ ]:
filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

<ipython-input-13-02b285071e04>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_business_df = filtered_business_df[business_df['Year'] != 2024]

In [ ]:
print(filtered_business_df.shape)

(25258, 5)

In [ ]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)
print(dropped_filtered_business_df.shape)

(25258, 2)

In [ ]:
summed_dropped_filtered_business_df = dropped_filtered_business_df.groupby('Year')['passengers'].sum().reset_index()

In [ ]:
print(summed_dropped_filtered_business_df)

    Year  passengers
0   1993      218851
1   1994       49689
2   1996      276523
3   1997      315229
4   1998      323080
5   1999      354785
6   2000      394074
7   2001      342487
8   2002      307406
9   2003      308809
10  2004      334484
11  2005      348842
12  2006      364175
13  2007      371328
14  2008      363434
15  2009      348043
16  2010      349705
17  2011      356460
18  2012      367415
19  2013      375106
20  2014      396618
21  2015      413833
22  2016      431806
23  2017      446566
24  2018      473267
25  2019      468331
26  2020      129365
27  2021      218186
28  2022      344936
29  2023      370819

In [ ]:
merged_SF_df = pd.merge(San_Francisco_df, summed_dropped_filtered_business_df, on='Year', how='inner')

In [ ]:
print(merged_SF_df)

    Year  retail_employees  passengers
0   1993             189.8      218851
1   1994             187.5       49689
2   1996             193.6      276523
3   1997             199.7      315229
4   1998             203.1      323080
5   1999             209.2      354785
6   2000             214.8      394074
7   2001             215.2      342487
8   2002             209.3      307406
9   2003             205.1      308809
10  2004             203.7      334484
11  2005             205.7      348842
12  2006             206.8      364175
13  2007             208.3      371328
14  2008             203.9      363434
15  2009             190.6      348043
16  2010             187.6      349705
17  2011             188.8      356460
18  2012             193.8      367415
19  2013             198.9      375106
20  2014             203.8      396618
21  2015             207.9      413833
22  2016             209.8      431806
23  2017             211.1      446566
24  2018             210.8      473267
25  2019             205.9      468331
26  2020             183.1      129365
27  2021             185.6      218186
28  2022             186.8      344936
29  2023             183.7      370819

In [ ]:
#Make File!
merged_SF_df.to_excel('SF_final.xlsx', index = False, sheet_name = "Processed_data")