In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
New_York_df = pd.read_excel('employees.xlsx', sheet_name='New York')

In [3]:
print(New_York_df.head(35))

    Year  retail_employees
0   1993             234.0
1   1994             237.0
2   1995             243.4
3   1996             248.5
4   1997             253.4
5   1998             260.4
6   1999             270.4
7   2000             281.8
8   2001             272.2
9   2002             268.3
10  2003             267.5
11  2004             273.7
12  2005             281.5
13  2006             287.6
14  2007             295.6
15  2008             299.7
16  2009             292.1
17  2010             302.8
18  2011             314.5
19  2012             328.0
20  2013             340.2
21  2014             350.8
22  2015             352.8
23  2016             350.6
24  2017             351.7
25  2018             351.4
26  2019             348.8
27  2020             287.2
28  2021             293.1
29  2022             307.5
30  2023             306.4

In [4]:
business_df = pd.read_excel('business.xlsx')

In [5]:
print(business_df.head())

   Year                           city1                          city2  \
0  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
1  2021  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)
2  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
3  2021                 Albuquerque, NM          Dallas/Fort Worth, TX
4  2021                 Albuquerque, NM                    Phoenix, AZ

   passengers    fare
0         180   81.43
1          19  208.93
2         204  184.56
3         264  182.64
4         398  177.11

In [6]:
filtered_business_df = business_df[business_df['city1'].str.contains('New York') | business_df['city2'].str.contains('New York')]

In [7]:
filtered_business_df = filtered_business_df[filtered_business_df['Year'] != 2024]

In [8]:
print(filtered_business_df.shape)

(59674, 5)

In [9]:
dropped_filtered_business_df = filtered_business_df.drop(['city1','city2','fare'], axis=1)

In [10]:
print(dropped_filtered_business_df.shape)

(59674, 2)

In [11]:
summed_dropped_filtered_business_df = dropped_filtered_business_df.groupby('Year')['passengers'].sum().reset_index()

In [12]:
print(summed_dropped_filtered_business_df)

    Year  passengers
0   1993      355094
1   1994       85549
2   1996      404162
3   1997      439490
4   1998      444400
5   1999      476886
6   2000      508042
7   2001      469028
8   2002      461198
9   2003      488774
10  2004      546673
11  2005      580233
12  2006      590281
13  2007      585094
14  2008      554040
15  2009      525716
16  2010      526027
17  2011      534865
18  2012      541567
19  2013      560934
20  2014      565616
21  2015      595311
22  2016      631792
23  2017      659328
24  2018      689771
25  2019      707834
26  2020      200213
27  2021      426566
28  2022      655448
29  2023      715912

In [13]:
merged_NY_df = pd.merge(New_York_df, summed_dropped_filtered_business_df, on='Year', how='inner')

In [14]:
print(merged_NY_df)

    Year  retail_employees  passengers
0   1993             234.0      355094
1   1994             237.0       85549
2   1996             248.5      404162
3   1997             253.4      439490
4   1998             260.4      444400
5   1999             270.4      476886
6   2000             281.8      508042
7   2001             272.2      469028
8   2002             268.3      461198
9   2003             267.5      488774
10  2004             273.7      546673
11  2005             281.5      580233
12  2006             287.6      590281
13  2007             295.6      585094
14  2008             299.7      554040
15  2009             292.1      525716
16  2010             302.8      526027
17  2011             314.5      534865
18  2012             328.0      541567
19  2013             340.2      560934
20  2014             350.8      565616
21  2015             352.8      595311
22  2016             350.6      631792
23  2017             351.7      659328
24  2018             351.4      689771
25  2019             348.8      707834
26  2020             287.2      200213
27  2021             293.1      426566
28  2022             307.5      655448
29  2023             306.4      715912

In [15]:
#Make File!!
merged_NY_df.to_excel('NY_final.xlsx',index=False, sheet_name='Processed_Data')